* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    background: rgb(241, 249, 255);
}

.header-select {
    width: 50%;
}

.header-search {
    width: 50%;
}

.main-section {
    display: flex;
    justify-content: flex-start;
}

.main-section__img {
    width: 50%;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section__img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.main-section__table {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    max-height: 90vh;
    overflow-y: scroll;
}